* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #bbada0;
}

#score-container {
    margin-top: 20px;
    text-align: center;
}

#game-container {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    flex-direction: column; /* Apila los elementos verticalmente */
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 400px;
    background-color: #eee4da;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em; /* Tamaño de fuente relativo */
    font-weight: bold;
    color: #776e65;
    background-color: #cdc1b4;
    border-radius: 5px;
    padding: 10px; /* Ajusta el padding según sea necesario */
    width: 80px; /* Tamaño fijo de la celda en píxeles */
    height: 80px; /* Tamaño fijo de la celda en píxeles */
}


.cell-2 {
    background-color: #eee4da;
    color: #776e65;
}

.cell-4 {
    background-color: #ede0c8;
}

.cell-8 {
    background-color: #f2b179;
    color: white;
}

.cell-16 {
    background-color: #f59563;
    color: white;
}

.cell-32 {
    background-color: #f67c5f;
    color: white;
}

.cell-64 {
    background-color: #f65e3b;
    color: white;
}

.cell-128 {
    background-color: #edcf72;
    color: white;
}

.cell-256 {
    background-color: #ebc64d;
    color: white;
}

.cell-512 {
    background-color: #edc850;
    color: white;
}

.cell-1024 {
    background-color: #edc53f;
    color: white;
}

.cell-2048 {
    background-color: #edc22e;
    color: white;
}

@keyframes desplazamiento {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.celda-desplazamiento {
  animation: desplazamiento 0.2s ease;
}

.game-over {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    z-index: 9999;
}

.blur {
    filter: blur(5px);
}

button {
    background-color: #8f7a66;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #736357;
}
